<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/welcomeStyle.css">
    <link rel="stylesheet" href="/static/css/pulseButton.css">
    <title>Welcome</title>

</head>
<body>

<video autoplay loop muted class="bg-video" id="bg-video">
    <source src="/static/video/welcome.mp4" type="video/mp4"/>
</video>

<main role="main">
    <div class="container h-100">
        <div class="row">
            <div class="col text-center welcome">
                <a class="btn btn-warning btn-lg" href="/buyingAccommodation">Go to buying</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>